@import "tailwindcss";

:root {
  --background: #b6e3ff;
  --foreground: #030812;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Base */
  --color-primary: #0033ff; /* light purple */
  --color-secondary: #eaedf8; /* gray */
  --color-third: #0033ff; /* blue */
  --color-third-light: #65a0ff; /* light blue */
  --color-navy-accent: #00033d; /* navy blue */
  --color-dark-accent: #030812;

  /* Text */
  --color-text-primary: #030812; /* black */
  --color-text-secondary: #99a1af; /* light gray */
  --color-text-inverse: #ffffff; /* white */
  --color-text-muted: #6b7280; /* red */

  /* Status — estos los necesitas para Hot/Warm/Cold */
  --color-hot: #ef4444; /* red */
  --color-warm: #f0b100; /* yellow */
  --color-cold: #2b7fff; /* blue */

  /* Initials Owners Colors */
  --color-Owner-1: #05df72;
  --color-Owner-2: #51a2ff;
  --color-Owner-3: #e17100;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #c2deff;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust based on where you place it */
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3; /* Light grey track background */
  border-top: 6px solid #3498db; /* Blue active spinning segment */
  border-radius: 50%; /* Makes the box a perfect circle */
  animation: spinner 1.5s linear infinite;
}
